gpupixel
conditions.txt
test.txt
logs
Debug
.project
.cproject
mcdata/*.dat
mcdata_old
build
build*
debug
debug*
*~
#~
.#*
CMakeFiles
CMakeCache.txt
run.sh
setup.sh
*pyc
*.root
.vscode
.idea
output/*
*.pdf
input/
InstallArea*
Makefile


